.slideMd {
    margin-top: -15px!important;
    padding: 0!important    ;
    background-color:rgba(180, 180, 180,0.4);
    z-index: 3;
    height: 100vh;
    position: fixed;
    left: 0;
}
.slideMd-content {
    height:inherit;
    position:fixed;
    
    z-index: 3;
    background-color: #fff;
    
}
.slideMd-title {
    
     margin: 10px 0px 20px 0px;
     border-bottom: 1px solid rgba(180, 180, 180,0.4);

}
.slieMd-container {
    

}